@font-face {
  font-family: "iconfont"; /* Project id 4018737 */
  src: url('iconfont.woff2?t=1681637590322') format('woff2'),
       url('iconfont.woff?t=1681637590322') format('woff'),
       url('iconfont.ttf?t=1681637590322') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuxianwangluo:before {
  content: "\e66f";
}

.icon-shujuku:before {
  content: "\e64c";
}

.icon-wangluo:before {
  content: "\e657";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-jiacu:before {
  content: "\e7db";
}

.icon-qingxie:before {
  content: "\e7dc";
}

.icon-chehui:before {
  content: "\e688";
}

.icon-bianji1:before {
  content: "\e621";
}

.icon-liebiao2:before {
  content: "\e600";
}

.icon-chuangkou1:before {
  content: "\e615";
}

.icon-3zuidahua-1:before {
  content: "\e66d";
}

.icon-lianjie:before {
  content: "\e63c";
}

.icon-yinyong:before {
  content: "\e620";
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-zuidahua:before {
  content: "\e601";
}

.icon-zuixiaohua:before {
  content: "\e60e";
}

.icon-youxuliebiao:before {
  content: "\e611";
}

.icon-w_pingmu:before {
  content: "\e66e";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-huitui:before {
  content: "\e6c9";
}

.icon-add:before {
  content: "\e65b";
}

.icon-arrow-down:before {
  content: "\e65c";
}

.icon-arrow-up:before {
  content: "\e65d";
}

.icon-backtop:before {
  content: "\e65e";
}

.icon-add-rectangle:before {
  content: "\e65f";
}

.icon-bulletpoint:before {
  content: "\e660";
}

.icon-browse-off:before {
  content: "\e661";
}

.icon-close:before {
  content: "\e662";
}

.icon-a-chevron-rightdouble:before {
  content: "\e663";
}

.icon-download:before {
  content: "\e664";
}

.icon-delete:before {
  content: "\e665";
}

.icon-edit-1:before {
  content: "\e666";
}

.icon-file-paste:before {
  content: "\e667";
}

.icon-folder:before {
  content: "\e668";
}

.icon-login:before {
  content: "\e669";
}

.icon-browse:before {
  content: "\e66a";
}

.icon-search:before {
  content: "\e66b";
}

.icon-upload:before {
  content: "\e66c";
}

.icon-arrow-left:before {
  content: "\e65a";
}

